<h2>Manage Groups</h2>

<div class="groups_content">
  <ul class="headers">
     <% @columns.reject{|c| ['id'].include?(c)}.each do |column| %>
        <li><%= column %></li>
     <% end %>
  </ul>
</div>
<div class="clear"></div>

<%= link_to 'Back', snippets_path %>
